In [2]:
import os
import datetime

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

#custom functions import
from ts_functions import time_window_generator
from aux_functions import aux_functions


mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

In [5]:
display_file = "training_log/sm_ma_gc.csv"

fileDir = os.path.dirname(os.path.realpath('__file__'))
filename = os.path.join(fileDir, display_file)
df = pd.read_csv(filename)

In [6]:
display(df)

,stock_code,Average MAPE of val data_set,Average MAPE of test data_set,Iteration_number,Training data_set size,Validation data_set size,testing data_set size,model_name,(data with sma5,ema5,ema20,ema50,ema_20_50_gc)
0,000001.SZ,19.101615,94.243288,10,3497,749,750,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
1,000002.SZ,4.377207,4.453357,10,3497,749,750,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
2,000008.SZ,15.383230,8.146482,10,3405,730,730,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
3,000001.SZ,43.858890,45.516707,10,3497,999,500,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
4,000002.SZ,4.015493,4.286637,10,3497,999,500,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
5,000008.SZ,17.120712,11.913242,10,3405,973,487,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
6,000009.SZ,18.728840,27.879832,10,3497,999,500,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
7,000027.SZ,3.720398,29.768674,10,3497,999,500,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
8,000039.SZ,39.731648,52.106204,10,3497,999,500,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
9,000046.SZ,46.901301,5.101535,10,3497,999,500,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
10,000060.SZ,27.643286,4.795263,10,3497,999,500,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
11,000061.SZ,41.529056,3.465517,10,3471,992,496,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
12,000063.SZ,9.303211,14.353666,10,3497,999,500,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
13,000066.SZ,43.241756,10.013061,10,3455,987,494,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
14,000069.SZ,4.645981,4.552321,10,3497,999,500,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
15,000100.SZ,18.134371,3.671896,10,2912,831,417,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
16,000156.SZ,3.762877,2.425920,10,2422,691,347,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
17,000157.SZ,2.552354,9.624212,10,3497,999,500,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
18,000166.SZ,5.303641,2.948061,10,1269,362,182,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
19,000301.SZ,48.625135,16.060417,10,3461,989,495,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
20,000333.SZ,10.354332,5.784250,10,1476,422,211,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
21,000338.SZ,3.027393,4.655938,10,2564,732,367,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN
22,000400.SZ,58.999656,24.821413,10,3479,994,497,simple_stacked_lstm_stock_1,NaN,NaN,NaN,NaN,NaN