In [1]:
import tushare as ts
import pandas as pd
import numpy as np

In [2]:
pro = ts.pro_api('f75ac7a71ba8bf7118966e7fb1a0224dda2345fa0f54d1f7b010b91b')

In [3]:
index16 = pro.index_weight(index_code='399300.SZ', start_date='20160101', end_date='20161231')
index17 = pro.index_weight(index_code='399300.SZ', start_date='20170101', end_date='20171231')
index18 = pro.index_weight(index_code='399300.SZ', start_date='20180101', end_date='20181231')
index19 = pro.index_weight(index_code='399300.SZ', start_date='20190101', end_date='20191231')
index20 = pro.index_weight(index_code='399300.SZ', start_date='20200101', end_date='20201231')
index21 = pro.index_weight(index_code='399300.SZ', start_date='20210101', end_date='20211231')
index22 = pro.index_weight(index_code='399300.SZ', start_date='20220101', end_date='20221231')
index = pd.concat([index16, index17, index18, index19, index20, index21, index22], ignore_index=True)
index

      index_code   con_code trade_date  weight
0      399300.SZ  603993.SH   20161230  0.1570
1      399300.SZ  603885.SH   20161230  0.0650
2      399300.SZ  603000.SH   20161230  0.1060
3      399300.SZ  601998.SH   20161230  0.2130
4      399300.SZ  601989.SH   20161230  0.7070
...          ...        ...        ...     ...
33995  399300.SZ  601138.SH   20220104  0.2167
33996  399300.SZ  300782.SZ   20220104  0.3475
33997  399300.SZ  003816.SZ   20220104  0.1678
33998  399300.SZ  603195.SH   20220104  0.0593
33999  399300.SZ  601698.SH   20220104  0.0291

[34000 rows x 4 columns]

In [4]:
#index16

In [6]:
HS300_index = list(set(index['con_code']))
len(HS300_index)

577

In [7]:
for code in HS300_index:
    df1 = pro.query('daily', ts_code=code, start_date='20160101', end_date='20220825')
    df1.to_csv('stock_data/index300_16_22_day.csv', mode='a', index=False, header=False)